<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Modal</title>
</head>

<body>
  <h1>Modal</h1>

  <ul class="gsm-gallery__list _portrait">
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/00.png') %>" gsm-modal-image="<%= require('./assets/lg_00.png') %>">
    </li>
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/01.png') %>" gsm-modal-image="<%= require('./assets/lg_01.png') %>">
    </li>
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/02.png') %>" gsm-modal-image="<%= require('./assets/lg_02.png') %>">
    </li>
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/03.png') %>" gsm-modal-image="<%= require('./assets/lg_03.png') %>">
    </li>
  </ul>
</body>
</html>