<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Modal</title>
</head>

<body>
  <h1>Modal</h1>

  <ul class="gsm-gallery__list _portrait">
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/00.png') %>" id="zee_now00" gsm-modal-trigger>
    </li>
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/01.png') %>" id="zee_now01" gsm-modal-trigger>
    </li>
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/02.png') %>" id="zee_now02" gsm-modal-trigger>
    </li>
    <li class="gsm-gallery__list__item">
      <img src="<%= require('./assets/03.png') %>" id="zee_now03" gsm-modal-trigger>
    </li>
  </ul>
</body>
</html>